---
layout: page
---

<style>
.profile-image {
  max-width: 200px !important;
  width: 200px !important;
}
</style>

<div class="post">
  <article>
    {% if page.sections %}
      {% for section in page.sections %}
        <h2>{{ section.title }}</h2>
        {% if section.content %}
          {{ section.content | markdownify }}
        {% endif %}

        {% if section.title == "Lab Members" and page.profiles %}
          <div class="profiles">
            {% for profile in page.profiles %}
              <hr>
              <div class="profile float-{% if profile.align == 'left' %}left{% else %}right{% endif %}">
                {% if profile.image %}
                  {% assign profile_image_path = profile.image | prepend: 'assets/img/' %}
                  {% if profile.image_circular %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle profile-image' %}
                  {% else %}
                    {% assign profile_image_class = 'img-fluid z-depth-1 rounded profile-image' %}
                  {% endif %}
                  {% include figure.liquid loading="eager" path=profile_image_path class=profile_image_class alt=profile.image %}
                {% endif %}
                {% if profile.more_info %}
                  <div class="more-info">{{ profile.more_info }}</div>
                {% endif %}
              </div>

              <div class="clearfix">
                {% if profile.content %}
                  {% capture profile_content %}{% include_relative {{ profile.content }} %}{% endcapture %}
                  {{ profile_content | markdownify }}
                {% endif %}
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}
    {% endif %}
  </article>
</div> 